<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Oh my food</title>
</head>
<body>
    <div class="loading">
        <div class="loading__spinner">
            <p>ohmyfood</p>
            <div class="spinner__item">
                <div class="spinner__item__1"></div>
                <div class="spinner__item__2"></div>
                <div class="spinner__item__3"></div>
            </div>
        </div>
    </div>
    <header class="logo__image">
        <img src="../assets/images/logo/ohmyfood.png" alt="">
    </header>
    <main>
        <section>
            <div class="location">
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                <p>Paris,Belleville</p>
            </div>
            <div class="reserve">
                <h2>Réservez le menu qui<br> vous convient</h2>
                <p>Decouvrez des restaurants d'exceptions,<br>sélectionnés par nos soins </p>
                <button>Explorez nos restaurants</button>
            </div>
        </section>
        <section class="menu__fonction">
            <h2>Fonctionnement</h2>
            <div class="menu__fonction__flex">

                <div class="filtre__item">
                    <span class="number__container">1</span>
                    <i class="fas fa-mobile"></i>
                    <p>Choisissez un restaurant</p>
                </div>
                <div class="filtre__item">
                    <span class="number__container">2</span>
                    <i class="fas fa-list-ul"></i>
                    <p>Composez votre menu</p>
                </div>
                <div class="filtre__item">
                    <span class="number__container">3</span>
                    <i class="fas fa-store"></i>
                    <p>Dégustez au restaurant</p>
                    
                </div>
            </div>

        </section>
        <section class="resto">
            <h2>Restaurants</h2>
            <div class="card__flex">
                <div class="card__item__1">
                    <a class="" href="palette.html">
                        <div class="card__item__image">
                            <img src="../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
                             alt="image du menu à la carte">
                        </div>
                        <h3>La palette du goût</h3>
                        <p>Ménilmontant</p>
                        <i class="heart__outside far fa-heart"></i>
                       <div class="heart__1"></div>
                    </a>
                </div>
                <div class=" card__item__1">

                    <a class="" href="note.html">
                        <div class="card__item__image">
                            <img src="../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"
                             alt="image du menu à la carte">
                        </div>
                        <h3>La note enchantée</h3>
                        <p>Charonne</p>
                        <i class="heart__outside far fa-heart"></i>
                        <div class="heart__1"></div>
                    </a>
                </div>
                <div class="card__item__2">
                    <a class="" href="française.html">
                        <div class="card__item__image">
                            <img src="../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
                             alt="image du menu à la carte">
                        </div>
                        <h3>à la Française</h3>
                        <p>Cité rouge</p>
                        <i class="heart__outside far fa-heart"></i>
                        <div class="heart__1"></div>
                        
                    </a>
                </div>
                <div class="card__item__2">
                    <a class="" href="delice.html">
                        <div class="card__item__image">
                            <img src="../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
                                alt="image du menu à la carte">
                        </div>
                        <h3>Le delice des sens</h3>
                        <p>Folie-mericourt</p>
                        <i class="heart__outside far fa-heart"></i>
                        <div class="heart__1"></div>
                    </a>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <div class="foot__contents">
            
            <span class="foot__img">ohmyfood</span>
            <div class="food__item">
                <div class="utensil">
                    <i class="fas fa-utensils"></i>
                    <p>Proposer un restaurant</p>
                </div>
                <div class="handshake">
                    <i class="fas fa-handshake"></i>
                    <p>Devenir partenaires</p>
                </div>
                <p>Mentions légales</p>
                <a href="#">Contacter nous</a>
            </div>

        </div>

    </footer>

</body>

</html>